body {
    margin-left: 94px;
    background-color: #0F0F0F;
    text-align: center;
    color: white;
}
header {
    margin-top: 25px;
}

.headerList{
    list-style-type: none;
    text-align: center;
    margin-right: 35px;


}
.headerLink {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;

    
}
form {
    margin-top: 23px;
    text-align: center;
}


.loginHBOButton {
    background: #8C77E0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 10px 35px 10px 35px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    width: 135px;
    margin-top: 20px;
        
}

label {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 38px;
    align-items: center;
    color: #FFFFFF;
    text-align: left;
    display: block;
    margin-left: 450px;
    margin-top: 20px;
    margin-bottom: 0px;
}

input {
    width: 400px;
    height: 33px;
    background: #7F7F7F;
    border-radius: 25px;  
    margin-top: 0px;  
}

.buttonHost {
    background: #8C77E0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #000000;
}

.footerP {
    margin-top: 50px;
    margin-bottom: 50px;
}