@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

:root {
    --font-standart:'Inter';
    --white-standart: #FFFFFF}

body {
    margin-left: 94px;
    background-image: url("img/background.png");
    background-color: black;
    background-size: 100%;
    color: white;}

.header {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin-top: 35px;
    align-items: center;}

.headerIcon i {
    padding: 0rem;
    width: 35%;}

.headerImg {
    text-align: center;}

.headerList {
    text-align: right;
    margin-right: 3rem;}

.headerList ul li {
    display: inline-block;    }

.headerList ul li a {
    font-family: var(--font-standart);
    color: var(--white-standart);
    text-decoration: none;
    font-size: 20px;
    padding-right: 2rem;}

.login {
    text-align: center ;
    margin-top: 5em;}

.loginForm label {
    font-family: var(--font-standart);
    font-size: 25px;
    margin-right: 19%;}

.loginForm input {
    border-radius: 25px;
    border-style: none;
    background-color:#7f7f7fbf;
    color: var(--white-standart);
    font-family: var(--font-standart);
    font-size: 25px;
    margin-bottom: 1.5%;
    padding: 0.25em 0em 0.25em 1em;}

.loginButton {
    border: 1px solid #000000;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0,0.25);
    background:linear-gradient(90deg,#A18CD1 0%,#FBC2EB 100%);
    padding: 0.5em 3em 0.5em 3em;
    font-family: var(--font-standart);
    font-size: 20px;}

.footer{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;}

.footerP{
    margin-bottom: 2em}

.buttonHost{
    border: 1px solid #000000;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0,0.25);
    background:linear-gradient(90deg,#A18CD1 0%,#FBC2EB 100%);
    padding: 0.5em 3em 0.5em 3em;
    font-family: var(--font-standart);
    font-size: 20px; 
    color: #121111;
    text-decoration: none;  }